<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-gray-900 text-white min-h-screen flex justify-center items-center">
    <div class="container mx-auto max-w-lg">
        <div class="form bg-gray-800 p-6 rounded-md mb-6">
            <form action="/create" method="post">
                <input type="text" placeholder="Title goes like.." name="title" class="block w-full rounded-md outline-none px-4 py-2 bg-gray-700 text-white focus:ring-blue-500 focus:border-blue-500">
                <textarea placeholder="Write your tasks here.." name="details" class="block w-full rounded-md outline-none px-4 mt-2 py-2 resize-none bg-gray-700 text-white focus:ring-blue-500 focus:border-blue-500"></textarea>
                <input type="submit" value="Create Task" class="mt-2 bg-blue-600 px-4 py-2 rounded-md hover:bg-blue-700 cursor-pointer">
            </form>
        </div>
        <div class="tasks grid grid-cols-2 gap-6">
            <% if(files.length > 0){ %>
                <% files.forEach(function(val){ %>
                    <div class="task bg-gray-800 p-4 rounded-md">
                        <h1 class="text-2xl font-semibold mb-2"><%= val %></h1>
                        <a href="/file/<%= val %>" class="block bg-blue-600 text-white text-center py-2 rounded-md hover:bg-blue-700">Read More</a>
                   </div>
                <% }) %>
            <% } else { %>
                <div class="no-tasks text-center text-gray-500">No Tasks Yet</div>
            <% } %>
        </div>
    </div>
</body>
</html>